<div class="container">
    <h1>Your Movies</h1>
    <hr>
    <% @movies.each do |movie|%>
       <h2> Title: <%= movie.title%></h2><br>
       <a class="btn btn-primary" id ="view-btn" href="/movies/<%= movie.id %>" role="button">View Movie</a>
       <hr>
    <%end%>

</div>

























